* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070107;
    background-attachment: fixed;
}

:root {
    --text-color: #F8F2EF;
    --primarycolor: #01020e;
    --primary-text: 'Handjet', sans-serif;
    --secoundary-text: 'Nova Square', sans-serif;
    --transparent-bgcolor: #58085869;
    --about-details-color: rgb(217, 96, 159);
}

#main-nav {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
    font-family: var(--primary-text)
}

#title h1 {
    color: var(--text-color);
    letter-spacing: 3px;
}

#main-nav-lists li {
    display: inline;
    padding: 0.5em;

}

#main-nav-lists li a {
    text-decoration: none;
    color: var(--text-color);
}

#main-nav-lists li a:hover {
    color: var(--about-details-color);
}
/* about section */

#home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--transparent-bgcolor), rgba(255, 122, 89, 0));
    padding: 5vw 4vw;

}

.portrait-image img {
    width: 30vw;
    border-radius: 100%;
    background-color: #0e010ea2;
    box-shadow: white 0px 0px 2vw;
    animation-duration: 2s;

}

.home-details h1 {
    font-size: 2vw;
    color: var(--about-details-color);
    font-family: var(--secoundary-text);
}

.home-details .role-title {
    font-size: 4.5vw;
    color: var(--text-color);
}

.fa-brands {
    color: var(--text-color);
    padding: 0.1em;
    margin-right: 0.5vw;
    font-size: 1.5vw;
}

.fa-brands:hover {
    color:var(--primarycolor);
}

#social-icons-lists {
    list-style: none;
    display: flex;
}

.social-icons {
    margin: 1vw 0;
}

.home-details #cv {
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: 1vw;
    font-weight: 700;
    background-color: #0700070c;
    color: var(--text-color);
}

.home-details #cv:hover {
    background-color: var(--text-color);
    color: rgb(2, 2, 2);
    border-color: 1px var(--text-color);
}

/* about-section */

#about-section {
    display: flex;
    align-items: center;
    margin: 5vw 5vw;
    justify-content: right;
}

#portfolio_photo2 {
    padding: 3vw 0 0 3vw;
    border-top: 0.5vw solid var(--text-color);
    border-left: 0.5vw solid var(--text-color);

}

#portfolio_photo2 img {
    width: 30vw;
    box-shadow: 1em 1em 0.9em;
}

#about-details {
    color: var(--text-color);
    font-size: 1.5vw;
    padding: 5vw;
    margin: 2vw;
}

#about-details * {
    margin: 1vw 0;
    font-family: var(--secoundary-text);
}


#summary h5 {
    color: var(--about-details-color);
    font-family: var(--secoundary-text);
    letter-spacing: 0.2vw;
}

#personal-details ul {
    margin: 2vw;
    font-family: var(--secoundary-text);
}

#personal-details span{
    color: var(--about-details-color);
}

#personal-details a{
    color: var(--text-color);
    text-decoration: none;
}

#personal-details a:hover{
    color: var(--about-details-color);
}