* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #380a38;
    background-attachment: fixed;
}

:root {
    --text-color: #F8F2EF;
    --primarycolor: #0e010e;
    --primary-text: 'Handjet', sans-serif;
    --secoundary-text: 'Nova Square', sans-serif;
    --transparent-bgcolor: #58085869;
}

#main-nav {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
    font-family: var(--primary-text)
}

#title h1 {
    color: var(--text-color);
    letter-spacing: 3px;
}

#main-nav-lists li {
    display: inline;
    padding: 0.5em;

}

#main-nav-lists li a {
    text-decoration:none;
    color: var(--text-color);
}

#main-nav-lists li a:hover {
    color: rgb(240, 171, 240)
}

#About-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--transparent-bgcolor);
    padding: 5vw 4vw;

}

.portrait-image img {
    width: 30vw;
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 5px 5px 9em;
    padding: 0 0.6rem;
    animation-duration: 2s;

}

.about-details h1 {
    font-size: 2vw;
    color: #ffcfff;
    margin: 5px;
    font-family: var(--secoundary-text);
}

.about-details .role-title {
    font-size: 4.5vw;
    color: white;
}

.social-icons {
    margin: 5px 10px;

}
ul > li > a {
    padding:0.2em;
    /* list-style-type: none;? */
}

ul > li > a:hover {
    list-style-type: none;
}

.about-details #cv {
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: 1vw;
    font-weight: 700;
    margin: 5px 10px;
    background-color: var(--text-color);
    color: rgb(2, 2, 2);
}

.about-details #cv:hover {
    background-color: #0700070c;
    color: var(--text-color);
    border-color: 1px var(--text-color);
}

